{% extends "layouts/base_layout.html" %}

{% block content %}
    <div class="addAccess">
        <p>Hello {{ user.get_username }}!</p>
        <a href="logout/">Log out</a>
        <div class="accesses">
            <form id="accessForm" action="access/" method="post">
                {% csrf_token %}
                <input type="text" required placeholder="Title" name="title">
                <input type="text" required placeholder="Service" name="service">
                <input type="text" required placeholder="Login" name="login">
                <input type="password" required placeholder="Password" name="password">
                <input type="text" required placeholder="Comment" name="comment">
                <input type="hidden" placeholder="Owner" name="owner">
                <input id="submit" type="submit" value="Add access">
            </form>
        </div>
    </div>
    <h3>Accesses</h3>
    <div class="parrentServices">
        {% for access in Accesses %}
            <div class="showServices">
                <p id="p_services" style="cursor:pointer; text-align: center; color: black; text-decoration: none"
                   href=""
                   onclick="spoiler({{ access.id }})">{{ access.service }}</p>
                <form style="display: none" id="{{ access.id }}" action="change/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ access.id }}">
                    <label for="title">Title:</label>
                    <input type="text" name="title" value="{{ access.title }}">
                    <label for="service">Service:</label>
                    <input type="text" name="service" value="{{ access.service }}">
                    <label for="login">Login:</label>
                    <input type="text" class="login-to-copy" name="login" value="{{ access.login }}">
                    <p class="copy-login"
                       style="cursor: pointer; color: black; text-align: center; text-decoration: none">Копировать в
                        буфер</p>
                    <label for="password">Password:</label>
                    <input type="password" class="password-to-copy" name="password" id="id{{ access.id }}"
                           value="{{ access.password }}">
                    <p style="cursor: pointer; color: black; text-align: center; text-decoration: none"
                       onclick="showHide('id'+{{ access.id }})">Show password</p>
                    <p class="copy-password"
                       style="cursor: pointer; color: black; text-align: center; text-decoration: none">Копировать в
                        буфер</p>
                    <label for="comment">Comment:</label>
                    <input type="text" name="comment" value="{{ access.comment }}">
                    <label for="owner">Owner:</label>
                    <input type="text" name="owner" value="{{ access.owner }}">
                    <input type="submit" value="Change access">
                    <input type="submit" formaction="delete/" id="submit" value="Delete access">
                </form>
            </div>
        {% endfor %}

    </div>

{% endblock %}
