body{
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
}
.container{
    width: 90%;
    margin: 0 auto
}

#accessForm input{
    display: block;
    height: 30px;
    border:none;
    /*border-bottom: 1px solid black;*/
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
    width: 20%;
    outline: none;
}
#errorAuth{
    text-align: center;
 }
#accessForm #submit{
    cursor: pointer;
    background-color: grey;
}
.parrantAccesses {
    font-size: 20px;
}
#hiddenInfo{
    display: none;
}
.parrentServices div{
    width: 25%;
}
.parrentServices{
    display: flex;
}
.parrentServices input{
    display: block;
    height: 25px;
    border: none;
    /*border-bottom: 1px solid black;*/
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
    width: 80%;
    outline: none;
    cursor: pointer;
}
.parrrentServices label{
    margin: 0 auto;
}
#p_services{
    width: 29%;
    font-size: 1.25em;
    font-style: italic;
}

